<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <title>{{ site.title }}</title>
  <!-- https://ogp.me/ --> <!-- https://dev.twitter.com/cards/overview -->
  <meta name="twitter:description" property="og:description" content="{{ site.description }}">
  <meta name="twitter:title" property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  {% if page.image %}
  <meta name="twitter:image" property="og:image" content="{{ site.url }}/{{ page.image }}" />
  {% endif %}

  <meta property="og:site_name" content="{{site.title}}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@{{ site.twitter_username }}" />
  <meta name="twitter:creator" content="@{{ site.twitter_username }}" />
  
  <link rel='canonical' href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel='alternate' type='application/rss+xml' title='{{ site.title }}' href="{{ 'feed.xml' | prepend: site.baseurl | prepend: site.url }}">

  <link rel="stylesheet" href="{{ "/assets/css/app.css" | prepend: site.baseurl }}">

  <script>
    var base_url = {{ site.baseurl | jsonify }},
        pagination_next_url = base_url + '{{ paginator.next_page_path }}',
        pagination_next_page_number = '{{ paginator.next_page }}',
        pagination_available_pages_number = '{{ paginator.total_pages }}';
  </script>

  <script defer src="{{ '/js/jquery.min.js' | prepend: site.baseurl }}">                 </script>
  <script defer src="{{ '/js/jquery.viewportchecker.min.js' | prepend: site.baseurl }}"> </script>
  <script defer src="{{ '/js/jquery.ghostHunter.min.js' | prepend: site.baseurl }}">     </script>
  <script defer src="{{ '/js/masonry.pkgd.min.js' | prepend: site.baseurl }}">           </script>
  <script defer src="{{ '/js/imagesloaded.pkgd.min.js' | prepend: site.baseurl }}">      </script>
  <script defer src="{{ '/js/evil-icons.min.js' | prepend: site.baseurl }}">             </script>
  <script defer src="{{ '/js/jquery.fitvids.js' | prepend: site.baseurl }}">             </script>
  <script defer src="{{ '/js/transition.js' | prepend: site.baseurl }}">                 </script>
  <script defer src="{{ '/js/zoom.min.js' | prepend: site.baseurl }}">                   </script>
  <script defer src="{{ '/js/app.js' | prepend: site.baseurl }}">                        </script>

</head>