<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name='description' content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel='canonical' href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel='alternate' type='application/rss+xml' title='{{ site.title }}' href="{{ 'feed.xml' | prepend: site.baseurl | prepend: site.url }}">

  <style>
    {% capture inlineCSS %}
      {% include app.scss %}
    {% endcapture %}

    {{ inlineCSS | scssify }}
  </style>

  <script>
    var base_url = {{ site.baseurl | jsonify }},
        pagination_next_url = base_url + '{{ paginator.next_page_path }}',
        pagination_next_page_number = '{{ paginator.next_page }}',
        pagination_available_pages_number = '{{ paginator.total_pages }}';
  </script>

  <script defer src="{{ '/js/jquery.min.js' | prepend: site.baseurl }}">                 </script>
  <script defer src="{{ '/js/jquery.viewportchecker.min.js' | prepend: site.baseurl }}"> </script>
  <script defer src="{{ '/js/jquery.ghostHunter.min.js' | prepend: site.baseurl }}">     </script>
  <script defer src="{{ '/js/masonry.pkgd.min.js' | prepend: site.baseurl }}">           </script>
  <script defer src="{{ '/js/imagesloaded.pkgd.min.js' | prepend: site.baseurl }}">      </script>
  <script defer src="{{ '/js/evil-icons.min.js' | prepend: site.baseurl }}">             </script>
  <script defer src="{{ '/js/jquery.fitvids.js' | prepend: site.baseurl }}">             </script>
  <script defer src="{{ '/js/transition.js' | prepend: site.baseurl }}">                 </script>
  <script defer src="{{ '/js/zoom.min.js' | prepend: site.baseurl }}">                   </script>
  <script defer src="{{ '/js/app.js' | prepend: site.baseurl }}">                        </script>

</head>