<div class='c-post-hero'>
  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--4-4-s {% if page.image %} o-grid__col--2-4-l {% endif %} {% unless page.image %} o-grid__col--2-3-m o-grid__col--center {% endunless %}'>
      <div class='c-post-hero__content {% unless page.image %} c-post-hero__content--no-image {% endunless %}'>
        <h1 class='c-post-hero__title'>{{ page.title }}</h1>
        <div class='c-post-hero__meta'>
          {{ page.date | date: '%d %b %Y' }}
        </div>
        <div class='c-post-hero__tags'>
            <div class="pipe-list">
            {% for tag in page.tags %}
                {% assign words = tag | split: '-' %}
                <span><a href='{{ site.baseurl }}/tag/{{ tag }}'>{% for word in words %}{{ word | capitalize }} {% endfor %}</a></span>
            {% endfor %}
            </div>
            <br/>
            {% if page.location %}
                <a href='{{ site.baseurl }}/locations/{{ page.location }}'>{{ page.location }}</a>
            {% else %}
                <div class="pipe-list">
                {% for location in page.locations %}
                    <span><a href='{{ site.baseurl }}/locations/{{ location }}'>{{ location }}</a></span>
                {% endfor %}
                </div>
            {% endif %}
            <br/>
            {{ page.field }} 
          </div>
      </div>
    </div>

    {% if page.image %}
      <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-l'>
        <div class='c-post-hero__media'>
          {% responsive_image_block %}
            path: "{{ page.image }}"
            alt: "{{ page.title }}"
            class: "c-post-hero__image js-fadein"
          {% endresponsive_image_block %}
        </div>
      </div>
    {% endif %}
  </div>
</div>