{% assign largest = resized | sort: 'width' | last %}
{% capture srcset %}
{% for i in resized %}{{ srcset | strip new_lines }} /{{ i.path }} {{ i.width }}w,{% endfor %}
{% endcapture %}

<center>
    <figure>
        <img src="/{{ largest.path }}"
         {% if class %}class="{{ class }}"{% endif %}
         {% if alt %}alt="{{ alt }}"{% endif %}
         srcset="{{ srcset | strip_newlines }} /{{ path }} {{ original.width }}w" />
        {% if caption %}
        <figcaption>{{ caption }}</figcaption>
        {% endif %}
    </figure>
</center>