/*------------------------------------*\
  Elements > Blockquote
\*------------------------------------*/

blockquote {
  font-style: italic;
  text-align: center;
  color: hsla(197, 100%, 20%, 1.0);
}