/*------------------------------------*\
  Elements > img
\*------------------------------------*/

img {
  display: block;
  max-width: 100%;
  font-style: italic;
}

figcaption {
    font-style: italic;
}

figure {
    margin-bottom: 10px;
}